elasticsearch==7.10.0
influxdb==5.3.0
more-itertools
parsedatetime
prometheus-client==0.8.0
rich
backoff==2.2.1
certifi==2024.07.04
charset-normalizer==3.0.1
Deprecated==1.2.13
googleapis-common-protos==1.58.0
grpcio==1.62.3
idna==3.7
opentelemetry-api==1.15.0
opentelemetry-exporter-otlp==1.15.0
opentelemetry-exporter-otlp-proto-grpc==1.15.0
opentelemetry-exporter-otlp-proto-http==1.15.0
opentelemetry-proto==1.15.0
opentelemetry-sdk==1.15.0
opentelemetry-semantic-conventions==0.36b0
protobuf==4.21.12
pytz==2024.1
requests==2.31.0
typing_extensions==4.6.0
urllib3==1.26.19
wrapt==1.14.1
numpy==1.24.4
pandas==1.5.3
tabulate==0.8.10
